absl-py==2.1.0
alphafold==2.0.0
asgiref==3.8.1
astunparse==1.6.3
azure-cognitiveservices-vision-computervision==0.9.0
azure-cognitiveservices-vision-face==0.5.0
azure-common==1.1.28
azure-core==1.30.1
azure-identity==1.7.0
azure-storage-blob==12.13.0
biopython==1.83
blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
chex==0.1.86
click==8.1.7
colorama==0.4.6
contextlib2==21.6.0
contourpy==1.2.0
cryptography==42.0.7
cycler==0.12.1
DateTime==5.5
Django==5.0.4
dm-haiku==0.0.12
dm-tree==0.1.8
docker==7.0.0
etils==1.8.0
filelock==3.14.0
Flask==3.0.0
flatbuffers==24.3.25
flax==0.8.3
fonttools==4.49.0
fsspec==2024.3.1
gast==0.5.4
google-pasta==0.2.0
grpcio==1.63.0
gunicorn==22.0.0
h5py==3.11.0
idna==3.7
immutabledict==4.2.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
isodate==0.6.1
itsdangerous==2.2.0
jax==0.4.28
jaxlib==0.4.28
Jinja2==3.1.4
jmp==0.0.4
keras==3.3.3
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
mkl==2021.4.0
ml-dtypes==0.3.2
ml_collections==0.1.1
mpmath==1.3.0
msal==1.28.0
msal-extensions==0.3.1
msgpack==1.0.8
msrest==0.7.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.8.0.74
opt-einsum==3.3.0
optax==0.2.2
optional-django==0.3.0
optree==0.11.0
orbax-checkpoint==0.5.10
packaging==23.2
pandas==2.2.0
pillow==10.2.0
portalocker==2.8.2
protobuf==4.25.3
pyarrow==16.0.0
pycparser==2.22
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2024.1
pywin32==302
PyYAML==6.0.1
react==4.3.0
requests==2.32.0
requests-oauthlib==2.0.0
rich==13.7.1
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
six==1.16.0
sqlparse==0.5.0
sympy==1.12
tabulate==0.9.0
tbb==2021.12.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorstore==0.1.59
termcolor==2.4.0
toolz==0.12.1
torch==2.3.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zipp==3.18.1
zope.interface==6.3
