<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Python handler configuration -->
    <handlers>
      <add name="python" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\ptvs_virtualenv_proxy.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- Set environment variables for the web app -->
    <environmentVariables>
      <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
      <environmentVariable name="WSGI_HANDLER" value="app.app" />
    </environmentVariables>

    <!-- URL rewrite rules -->
    <rewrite>
      <rules>
        <rule name="Static Files" stopProcessing="true">
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="statics/{R:1}" />
        </rule>
        <rule name="Dynamic Content">
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="index.py" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
